<f:layout name="Default.html" />

<f:section name="content">
<f:form name="{filterName}" extensionName="savfilters" pluginName="default">
    <f:form.hidden name="cid" value="{cid}" />
	<ul>
			<f:for each="{templates}" as="template" iteration="iterator">
				<li class="item{iterator.index}"><f:format.raw>{template}</f:format.raw></li>
			</f:for>
	</ul>
    <div class="filterButtons"  >
        <f:form.button class="submit" type="submit"  name="submit" title="{f:translate(key:'form.submit')}" ><core:icon identifier="actions-search" /></f:form.button>
        <f:form.button class="submit" type="submit"  name="cancel" title="{f:translate(key:'form.cancel')}" ><core:icon identifier="actions-close" /></f:form.button>    
    </div>  	
</f:form>
</f:section>